<template>
  <div class="container">
    <div class="col mt-4">
      <h2>Ajouter une pizza 🍕</h2>
      <b-form>
        <b-form-group
          id="input-group-1"
          label="Nom:"
          label-for="input-1"
        >
          <b-form-input
            id="input-1"
            v-model="payload.name"
            type="text"
            placeholder="Margarita"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Prix:" label-for="input-2">
          <b-form-input
            id="input-2"
            v-model="payload.price"
            placeholder="12"
            required
          ></b-form-input>
        </b-form-group>

        <b-form>
          <b-container fluid>
            <b-row>
              <b-col class="sm-2">
                <b-form-input v-model="current_value" type="text" placeholder="Ingrédient"></b-form-input>
              </b-col>
              <b-col class="sm-2">
                <b-form-input v-model="current_poids" type="number" placeholder="quantité (gramme)"></b-form-input>
              </b-col>
            </b-row>
          </b-container>
          <b-button class="m-4" variant="primary" @click="addIngredient">+ Ajouter un ingrédient</b-button>
        </b-form>
        <li class="m-2" v-for="item in payload.ingredients" :key="item.value">
          {{ item.poids }}g {{ item.value}}
          <b-button @click="deleteTag(item)" size="sm" variant="outline-danger">supprimer l'ingrédient</b-button>
        </li>
        <div style="height: 10px"></div>
        <b-button variant="success" @click="onSubmit">Enregistrer</b-button>
      </b-form>
    </div>
  </div>

</template>
<script>
import axios from 'axios';
    export default {
        data() {
          return {
            current_value: "",
            current_poids: null,
            payload: {
              name: '',
              price: '',
              ingredients: [
              ],
            },
          }
        },
        methods: {
          onSubmit() {
            try {
              axios.post('/api/pizza/store', {
                payload: this.payload
              })
              .then((response) => {
                console.log(response.data.status);
                if (response.data.status === "200") {
                  console.log(response.data.flash);
                  this.cleanPayload();
                  this.$router.push('/');
                } else {
                  console.log('ERROR');
                }
              })
            } catch (e) {
              console.log(e);
            }
          },
          addIngredient(){
            let array = {}
            if (this.current_poids && this.current_value) {
              array = {
                value: this.current_value,
                poids: this.current_poids
              }
              this.payload.ingredients.push(array)
            }
            this.resetValue();
          },
          resetValue() {
            this.current_poids = null
            this.current_value = ''
          },
          deleteTag(tag) {
            this.payload.ingredients = this.payload.ingredients.filter(data => data.value !== tag.value)
          },
          cleanPayload() {
            console.log("ok");
            this.payload = {
              name: '',
              price: '',
              ingredients: [],
            }
          }

        }
    }
</script>
