<template>
    <div class="container">
      <h2>Bienvenue sur Pizza-time 🍕</h2>
      <h4>Créez, éditez, supprimez vos recettes de pizzas.</h4>
      <div class="d-flex flex-row-reverse">
        <b-button class="m-2 p-2" size="sm" @click="addPizza()"  variant="success">
        Ajouter +
        </b-button>
    </div>
      <b-table v-if="!isLoading" hover :items="items" :fields="fields">
        <template v-slot:cell(action)="data">
          <b-button size="sm" @click="editPizza(data.item)"  variant="primary">
            Editer
          </b-button>
          <b-button size="sm" @click="deletePizza(data.item)"  variant="danger">
            Supprimer
          </b-button>
        </template>
      </b-table>
      <b-spinner v-if="isLoading" label="Spinning"></b-spinner>
    </div>
</template>

<script>
import axios from 'axios';

  export default {
    async mounted () {
      this.getPizza()
     },
    data() {
      return {
        info: null,
        isLoading: true,
        fields: [
          {
            key: 'name',
            sortable: true
          },
          {
            key: 'price',
            label: 'Prix (€)',
            sortable: true
          },
          {
            key: 'action',
            label: 'Actions',
            sortable: false
          }
        ],
        items: [],
        showModal: false,
        myPizza: {}
      }
    },
    methods: {
      getInfo(record, value) {
        console.log(record.id);
      },
      editPizza(record) {
        console.log(record);
        this.$router.push({
          name: 'edit',
          params: {
            id: record.id,
          },
        })
      },
      getPizza() {
        try {
          axios
          .get('/api/pizza')
          .then((response) => {
            this.isLoading = false
            this.items = response.data
          })
        } catch(e) {
          console.log(e);
        }
      },
      addPizza() {
        this.$router.push('/add')
      },
      async deletePizza(record) {
        try {
          axios.delete('/api/pizza/destroy/' + record.id)
          .then((response) => {
            if (response.data.status == 200) {
              this.getPizza();
            }
          })
        } catch (e) {
          console.log(e);
        }
      },
    }
  }
</script>
